// FONTS

@import url('//fonts.googleapis.com/css?family=Covered+By+Your+Grace:400,700,300');

$font-family-sans-serif: 'Covered By Your Grace', cursive;
$font-family-serif: 'Covered By Your Grace', serif;

// NAVBAR

$navbar-default-bg: #000000; 
$navbar-border-radius: 0px;
$navbar-height: 40px;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-border: transparent;

// COLORS

$brand-primary: #000000;

// BORDERS

$border-radius-base: 1px;
$border-radius-small: 0px;
$border-radius-large: 2px;

// BUTTONS

$btn-font-weight: 500;